@import '../../variables/variables.scss';
@import '../../mixins/mixins.scss';

.Projects {
  position: relative;
  color: $gray-secondary;
  background: $bg-secondary;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 0 6rem 6rem 6rem;

  & header {
    @include header;
  }

  & footer {
    & .tilt {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);

      & svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 70px;
      }

      & .shape-fill {
        fill: #f2f4ff;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .Projects {
    padding: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .Projects {
    padding: 2rem;
  }
}
