.Contact {
  color: #141418;
  background: #f2f4ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 6rem;
  position: relative;
}

.Contact header h2 {
  position: relative;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
}

.Contact header h2::after {
  content: '';
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 4rem;
  background: #d73737;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  .Contact header h2 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 800px) {
  .Contact header h2 {
    font-size: 2.6rem;
  }
}

.Contact header p {
  font-size: 2rem;
  font-weight: 500;
  max-width: 70%;
  text-align: center;
  margin-inline: auto;
  margin-top: 4rem;
}

@media screen and (max-width: 1024px) {
  .Contact header p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 800px) {
  .Contact header p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .Contact header p {
    max-width: 100%;
  }
}

.Contact main {
  margin: 0;
  width: 100%;
}

.Contact main .contact__form-container {
  -webkit-box-shadow: -1px 2px 4px -1px rgba(0, 0, 0, 0.51);
          box-shadow: -1px 2px 4px -1px rgba(0, 0, 0, 0.51);
  background: #fff;
  padding: 4rem;
  margin-top: 6rem;
  max-width: 80rem;
  text-align: right;
  width: 95%;
  border-radius: 5px;
  margin: 5rem auto 0 auto;
}

.Contact main .contact__form-field {
  margin-bottom: 4rem;
  width: 100%;
}

.Contact main .contact__form-label {
  color: #555;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}

@media only screen and (max-width: 729px) {
  .Contact main .contact__form-label {
    font-size: 1.2rem;
  }
}

.Contact main .contact__form-input {
  color: #333;
  padding: 2rem;
  width: 100%;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 6px 4px -6px rgba(29, 29, 29, 0.2);
          box-shadow: 0px 6px 4px -6px rgba(29, 29, 29, 0.2);
  font-size: 1.3rem;
  letter-spacing: 0;
  background: #f2f4ff;
  border-radius: 5px;
  font-weight: 600;
}

.Contact main .contact__form-input:focus {
  border: 1px solid #d73737;
  -webkit-box-shadow: 0px 6px 4px -6px rgba(29, 29, 29, 0.2);
          box-shadow: 0px 6px 4px -6px rgba(29, 29, 29, 0.2);
}

@media only screen and (max-width: 729px) {
  .Contact main .contact__form-input {
    font-size: 1.2rem;
  }
}

.Contact main textarea {
  resize: none;
  font-family: inherit;
  font-size: inherit;
}

.Contact main textarea:focus {
  border: 1px solid #d73737;
  -webkit-box-shadow: 0px 6px 4px -6px rgba(29, 29, 29, 0.2);
          box-shadow: 0px 6px 4px -6px rgba(29, 29, 29, 0.2);
}

.Contact main .btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #d73737;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.3rem;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  padding: 1.5rem 8rem;
  color: #b6b6b6;
  color: #ececec;
}

.Contact main .btn-submit:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  color: #ececec;
}

@media screen and (max-width: 1024px) {
  .Contact main .btn-submit {
    font-size: 1.6rem;
    padding: 1.2rem 6rem;
  }
}

@media screen and (max-width: 800px) {
  .Contact main .btn-submit {
    font-size: 1.4rem;
    padding: 1rem 5rem;
  }
}

@media screen and (max-width: 540px) {
  .Contact main .btn-submit {
    margin: 0 auto;
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.Contact footer {
  margin-top: 8rem;
}

.Contact footer .wave-opacity {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.Contact footer .wave-opacity svg {
  position: relative;
  display: block;
  width: calc(100% + 0.3rem);
  height: 100px;
}

.Contact footer .wave-opacity .shape-fill {
  fill: #000;
}

@media screen and (max-width: 1024px) {
  .Contact footer .wave-opacity svg {
    height: 80px;
  }
}

@media screen and (max-width: 800px) {
  .Contact footer .wave-opacity svg {
    height: 60px;
  }
}

@media screen and (max-width: 540px) {
  .Contact footer .wave-opacity svg {
    height: 40px;
  }
}

.Contact .submit-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Contact .submit-header svg {
  width: 50px;
  height: 50px;
  fill: lightgreen;
}

.Contact .submit-success {
  color: #1d1d1d;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0;
}

.Contact .submit-success::after {
  content: '';
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 25%;
  background: #d73737;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  .Contact .submit-success {
    font-size: 2.6rem;
    padding: 2.6rem;
  }
}

@media screen and (max-width: 800px) {
  .Contact .submit-success {
    font-size: 2rem;
    padding: 2rem;
  }
}

@media screen and (max-width: 540px) {
  .Contact .submit-success {
    font-size: 1.6rem;
    padding: 1.6rem;
  }
}

@media screen and (max-width: 1024px) {
  .Contact {
    padding: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .Contact {
    padding: 2rem;
  }
}
/*# sourceMappingURL=Contact.css.map */