@import '../../variables/variables.scss';
@import '../../mixins/mixins.scss';

.Contact {
  color: $gray-secondary;
  background: $bg-primary;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 6rem;
  position: relative;

  & header {
    @include header;
  }

  & main {
    margin: 0;
    width: 100%;

    & .contact__form-container {
      box-shadow: -1px 2px 4px -1px rgba(0, 0, 0, 0.51);
      background: #fff;
      padding: 4rem;
      margin-top: 6rem;
      max-width: 80rem;
      text-align: right;
      width: 95%;
      border-radius: 5px;
      margin: 5rem auto 0 auto;
    }

    & .contact__form-field {
      margin-bottom: 4rem;
      width: 100%;
    }

    & .contact__form-label {
      color: #555;
      font-size: 1.4rem;
      letter-spacing: 1px;
      font-weight: 700;
      margin-bottom: 1rem;
      display: block;
      text-align: left;
    }

    @media only screen and (max-width: 729px) {
      & .contact__form-label {
        font-size: 1.2rem;
      }
    }

    & .contact__form-input {
      color: #333;
      padding: 2rem;
      width: 100%;
      border: none;
      outline: none;
      box-shadow: 0px 6px 4px -6px rgba(29, 29, 29, 0.2);
      font-size: 1.3rem;
      letter-spacing: 0;
      background: $bg-primary;
      border-radius: 5px;
      font-weight: 600;

      &:focus {
        border: 1px solid $red-primary;
        box-shadow: 0px 6px 4px -6px rgba(29, 29, 29, 0.2);
      }
    }

    @media only screen and (max-width: 729px) {
      & .contact__form-input {
        font-size: 1.2rem;
      }
    }

    & textarea {
      resize: none;
      font-family: inherit;
      font-size: inherit;

      &:focus {
        border: 1px solid $red-primary;
        box-shadow: 0px 6px 4px -6px rgba(29, 29, 29, 0.2);
      }
    }

    & .btn-submit {
      display: flex;
      margin-left: auto;
      justify-content: center;
      background: $red-primary;
      font-size: 1.8rem;
      border: none;
      @include btn;
      color: $text-secondary;
    }

    @media screen and (max-width: 1024px) {
      & .btn-submit {
        font-size: 1.6rem;
        padding: 1.2rem 6rem;
      }
    }

    @media screen and (max-width: 800px) {
      & .btn-submit {
        font-size: 1.4rem;
        padding: 1rem 5rem;
      }
    }

    @media screen and (max-width: 540px) {
      & .btn-submit {
        margin: 0 auto;
        width: 100%;
        align-self: center;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .Contact {
    padding: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .Contact {
    padding: 2rem;
  }
}

.submit-success {
  color: $gray-primary;
  font-size: 3rem;
  padding: 3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .submit-success {
    font-size: 2.6rem;
    padding: 2.6rem;
  }
}

@media screen and (max-width: 800px) {
  .submit-success {
    font-size: 2rem;
    padding: 2rem;
  }
}

@media screen and (max-width: 540px) {
  .submit-success {
    font-size: 1.6rem;
    padding: 1.6rem;
  }
}
