@import '../../variables/variables.scss';
@import '../../mixins/mixins.scss';

.header {
  background: url('../../assets/liquid-cheesex3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 600px;
  padding-inline: 6rem;

  & h1 {
    font-size: 5.6rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-align: center;
    font-weight: 600;
  }

  & p {
    font-size: 2rem;
    text-align: center;
    max-width: 70%;
  }

  @media screen and (max-width: 1024px) {
    & h1 {
      font-size: 4rem;
    }

    & p {
      font-size: 1.8rem;
      max-width: 80%;
    }
  }

  @media screen and (max-width: 800px) {
    & h1 {
      font-size: 3.5rem;
    }

    & p {
      font-size: 1.6rem;
      max-width: 100%;
    }
  }
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  & svg {
    position: relative;
    display: block;
    width: calc(140% + 1px);
    height: 140px;
    transform: rotateY(180deg);
  }

  & .shape-fill {
    fill: $bg-primary;
  }

  @media screen and (max-width: 768px) {
    & svg {
      height: 80px;
    }
  }
}

.btn-projects {
  background: $gray-primary;
  @include btn;
}

@media screen and (max-width: 1024px) {
  .btn-projects {
    font-size: 1.8rem;
    padding: 1.2rem 6rem;
  }
}

@media screen and (max-width: 730px) {
  .btn-projects {
    font-size: 1.6rem;
    padding: 1rem 5rem;
  }
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid $gray-primary;
  border-radius: 60px;
  position: relative;

  &::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 52.5%;
    transform: translateX(-52.5%);
    background-color: $gray-primary;
    border-radius: 50%;
    animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  0% {
    opacity: 1;
    top: 7px;
  }

  100% {
    opacity: 0;
    top: 28px;
  }
}

@media screen and (max-width: 540px) {
  .mouse {
    display: none;
  }

  .btn-projects {
    margin-bottom: 8rem;
  }
}
