@import '../../variables/variables.scss';
@import '../../mixins/mixins.scss';

.About {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
  color: $gray-secondary;
  margin-top: 6rem;
  padding: 6rem;
  position: relative;

  & header {
    @include header;
  }

  & main {
    margin-inline: 0;
    display: flex;
    gap: 8rem;

    & .about__personal-profile {
      max-width: 50%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      & h3 {
        font-size: 2.8rem;
        font-weight: 700;
      }

      & p {
        font-size: 1.8rem;
        line-height: 1.7;
        color: #555;
      }

      @media screen and (max-width: 1024px) {
        & h3 {
          font-size: 2rem;
        }
        & p {
          font-size: 1.6rem;
        }
      }

      @media screen and (max-width: 800px) {
        & h3 {
          font-size: 1.8rem;
        }

        & p {
          font-size: 1.4rem;
        }
      }

      & .btn-contact {
        background: $red-primary;
        margin-top: 2rem;
        max-width: 280px;
        z-index: 990;
        @include btn;
        color: $text-secondary;
      }

      @media screen and (max-width: 1024px) {
        & .btn-contact {
          font-size: 1.8rem;
          padding: 1.2rem 6rem;
          max-width: 250px;
        }
      }

      @media screen and (max-width: 800px) {
        & .btn-contact {
          font-size: 1.6rem;
          padding: 1rem 5rem;
          max-width: 200px;
        }
      }

      @media screen and (max-width: 540px) {
        & .btn-contact {
          align-self: center;
        }
      }
    }

    @media screen and (max-width: 900px) {
      & .about__personal-profile {
        max-width: 100%;
      }
    }

    & .about__skills {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      & h3 {
        font-size: 2.8rem;
        font-weight: 700;
      }

      @media screen and (max-width: 1024px) {
        & h3 {
          font-size: 2rem;
        }
      }

      @media screen and (max-width: 800px) {
        & h3 {
          font-size: 1.8rem;
        }
      }

      & .skills {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.5rem;

        & .skills__skill {
          padding: 1rem 2rem;
          font-size: 1.6rem;
          background: rgba(153, 153, 153, 0.2);
          border-radius: 5px;
          font-weight: 600;
          color: #666;
        }

        @media screen and (max-width: 1024px) {
          & .skills__skill {
            font-size: 1.4rem;
            padding: 0.8rem 1.8rem;
          }
        }

        @media screen and (max-width: 800px) {
          & .skills__skill {
            font-size: 1.3rem;
            padding: 0.6rem 1.6rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    & main {
      flex-direction: column;
    }
  }

  & footer {
    & .triangle {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
      z-index: -990;

      & svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 200px;
        transform: rotateY(180deg);
      }

      & .shape-fill {
        fill: #fafafa;
      }

      @media screen and (max-width: 1024px) {
        & svg {
          height: 80px;
        }
      }

      @media screen and (max-width: 540px) {
        & svg {
          height: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .About {
    padding: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .About {
    padding: 2rem;
  }
}
